In [1]:
import pandas as pd,psycopg2,os,numpy as np
from sqlalchemy.sql import  text
from sqlalchemy import create_engine
import datetime,re
from datetime import timedelta
dat=datetime.datetime.today()
from collections import defaultdict
import smtplib
from collections import defaultdict
from email.mime.text import MIMEText
from email.mime.multipart import MIMEMultipart
from email.utils import COMMASPACE,formatdate
from email.mime.application import MIMEApplication

# get all records
def fetchAllRecords(engine):
    with engine.connect() as con:
        resoverall=con.execute('select * from records;')
        df = pd.DataFrame(resoverall.fetchall())
        df.columns = resoverall.keys()
        #del df['posted_day']
        return(df)

def sendMsg(list_of_files,actualFiles,to):
    msg = MIMEMultipart('alternative')
    sender='brai@defteam.com'
    subject = "Leads for the date : "+str(datetime.datetime.now()).split(" ")[0]
    links=""
    for heavyfile,linkFiles in zip(list_of_files,actualFiles):
        try:
            line= pd.read_csv(heavyfile).empty
            f=linkFiles.split("/")[1]
            print("F:   ",f)
            if line:
                links=links+"""<p>&emsp;&emsp; There is no new records on this file : """+f+"""</p>"""
            else:
                links=links+"""<p>&emsp;&emsp;<a href="""+linkFiles+""">"""+f+""" -click to download file</a></p>"""
        except OSError:
                print ("No file")
                
    body1="""\
                            <html>
                                   <head></head>
                                   <body>
                                          <p>Hi,</p>
                                                 <p>&emsp;Here are leads :</p>
                                            """+links+"""               
                                                 <p><br></p>
                                                 <P> From,</p>
                                                 <p> Analytics Team</p>                                          
                                   </body>       
                            </html>
                     """
    # set up the SMTP server
    s = smtplib.SMTP(host='smtp.office365.com', port=587)
    s.starttls()
    s.login('brai@defteam.com', 'BREN@9148318531')
    # setup the parameters of the message
    cc= "gs@defteam.com,jsanket@defteam.com,brai@defteam.com"
    recp=cc.split(",")+[to]
    msg['From']=sender
    msg['To']=to
    msg['Subject']=subject
    msg['Date']=formatdate(localtime=True)
    msg['Cc']=cc
    # add in the message body
    for filename in list_of_files:    
        attachment = MIMEApplication(open(filename,'r').read())
        attachment.add_header('Content-Disposition', 'attachment', filename=filename)           
        msg.attach(attachment)
    msg.attach(MIMEText(body1, 'html'))
    # send the message via the server set up earlier.
    s.sendmail(msg['From'],recp,msg.as_string())
    s.quit()
    print("I have sent successfully")
    

def sendErrorMsg(error):
    msg = MIMEMultipart('alternative')
    msg1=MIMEMultipart()
    sender='kr19951111@gmail.com'
    subject = "Database Error has occurred for the date : "+str(datetime.datetime.now()).split(" ")[0]
    body = 'Hi Birendra,\n \t Jobs Crawled for the date: '+str(datetime.datetime.now()).split(" ")[0] +' is Unsuccessful.\n\n With Regards \n Birendra Rai'
    body1 = 'Hi Birendra,\n \t Jobs Crawled for the date: '+str(datetime.datetime.now()).split(" ")[0]+' couldnot Success because of '+ str(error)
    # set up the SMTP server
    s = smtplib.SMTP_SSL(host='smtp.gmail.com', port=465)
    #s.starttls()
    s.login('kr19951111@gmail.com', 'krishnarai7679637258')
    # setup the parameters of the message
    cc="kr19951111@gmail.com" #jsanket@defteam.com"
    to="brai@defteam.com"
    recp=cc.split(",")+[to]
    msg['From']=sender
    msg['To']=to
    msg['Subject']=subject
    msg['Date']=formatdate(localtime=True)
    msg['Cc']=cc
    # add in the message body
    msg.attach(MIMEText(body, 'plain'))
    # send the message via the server set up earlier.
    s.sendmail(msg['From'],recp,msg.as_string())
    #For Error to only Me
    msg1['From']=sender
    msg1['To']=to
    msg1['Subject']=subject
    msg1['Date']=formatdate(localtime=True)
    # add in the message body
    msg1.attach(MIMEText(body1, 'plain'))
    # send the message via the server set up earlier.
    s.sendmail(msg1['From'],to,msg1.as_string())
     
    s.quit()
    print("I have sent successfully")

numberOfReceivers=1
listOfReceiver=['kvikash@defteam.com']

if __name__== '__main__':
    dataset= pd.DataFrame()
    try:
        engine=create_engine('postgresql+psycopg2://postgres:postgres@localhost:5432/job_data')
        dataset=fetchAllRecords(engine)
    except Exception as e:
        sendErrorMsg(e)
    #separating the datasets for indeed and monster
    neglectedCompany= pd.read_csv("C:/Users/brai/Documents/PythonLead/NeglectedCompany.csv")
    for c in neglectedCompany.company:
        dataset=dataset.loc[dataset['company_name'] !=c]
    #unique portal id
    numberOfPortal=dataset.portal_id.unique()
    dataset.to_csv("C:/Users/brai/Documents/PythonLead/Neglected.csv")
  
    #get portal address or name
    websiteportal_id=[]
    website=[]
    #getting all the id and portals from websiteportal db
    try:
        with engine.connect() as con1:
            result_set1=con1.execute('select id,portal from websiteportal;')
            for i in result_set1:
                websiteportal_id.append(i['id']);
                website.append(i['portal'])
    except Exception as e:
        print(e)
        #sendErrorMsg(e)

    try:    
        #for files
        list_of_files=defaultdict(list)
        actual_files=defaultdict(list)
        #for each portal iterate all the records which are past two days from current date and extract those records
        for i in numberOfPortal:
            anyPortalDf= dataset.loc[dataset.portal_id==i]
            print('Shape of ',website[i-1],anyPortalDf.shape)
            #removing Duplicates based on these columns
            notDup= anyPortalDf.drop_duplicates(subset=['portal_id', 'posted_date', 'posted_links',\
                                                        'designation','company_name', 'companyurl',\
                                                        'location', 'locationurl','summary'],keep=False)
                    
            #onlyRequiredDf=notDup.loc[notDup.posted_date > dat.date()- timedelta(days=15),dataset.columns[2:]]
            onlyRequiredDf=notDup.loc[notDup.posted_date.values == dat.date(),dataset.columns[3:-1]] #last column is record counter
            print('RemovingDuplicatioin ',website[i-1] ,': ',notDup.shape)
            print("Final_I.E_till_2_days_back:",onlyRequiredDf.shape)
            onlyRequiredDf['Job']=[ele.split(" ")[-1] for ele in onlyRequiredDf['location'].tolist()]
            onlyRequiredDf['location']=[ele.split(" ")[:-1] for ele in onlyRequiredDf['location'].tolist()]
            #creating files for receivers
            print(onlyRequiredDf)
            onlyRequiredDf['receiverId']=np.random.randint(0,numberOfReceivers,onlyRequiredDf.shape[0])
            #writing to file
            for receiver in range(0,numberOfReceivers):
                files="C:/Users/wamp/htdocs/"+str(website[i-1])+"_final_job_search_"+str(dat.strftime('%d_%m_%Y'))+'_'+str(receiver)+'_.csv'
                actual_file="52.170.238.21/"+str(website[i-1])+"_final_job_search_"+str(dat.strftime('%d_%m_%Y'))+'_'+str(receiver)+'_.csv'
                dff=onlyRequiredDf.loc[onlyRequiredDf.receiverId==receiver,:]
                dff.loc[:,dff.columns[:-1]].to_csv(files,index=False)
                list_of_files[receiver].append(files)
                actual_files[receiver].append(actual_file)
        for i in list_of_files.keys():
            pass
			#sendMsg(list_of_files[i],actual_files[i],listOfReceiver[i])
    except Exception as e:
        sendErrorMsg(e)

Shape of  Indeed (21483, 12)
RemovingDuplicatioin  Indeed :  (8620, 12)
Final_I.E_till_2_days_back: (86, 8)
      posted_date   posted_day  \
36956  2018-03-29        Today
36957  2018-03-29        Today
36958  2018-03-29        Today
37055  2018-03-29        Today
37105  2018-03-29  Just posted
37106  2018-03-29        Today
37107  2018-03-29        Today
37108  2018-03-29        Today
37109  2018-03-29        Today
37110  2018-03-29        Today
37112  2018-03-29        Today
37113  2018-03-29        Today
37115  2018-03-29        Today
37844  2018-03-29        Today
37999  2018-03-29        Today
38001  2018-03-29        Today
38002  2018-03-29        Today
38003  2018-03-29        Today
38004  2018-03-29        Today
38005  2018-03-29        Today
38006  2018-03-29        Today
38106  2018-03-29  Just posted
38107  2018-03-29  Just posted
38108  2018-03-29  Just posted
38109  2018-03-29        Today
38110  2018-03-29        Today
38111  2018-03-29        Today
38112  2018-03-29        Today
38113  2018-03-29        Today
38114  2018-03-29        Today
...           ...          ...
38159  2018-03-29        Today
38216  2018-03-29        Today
38271  2018-03-29        Today
38326  2018-03-29        Today
38383  2018-03-29        Today
38436  2018-03-29        Today
38546  2018-03-29        Today
38603  2018-03-29        Today
38657  2018-03-29        Today
38711  2018-03-29        Today
38767  2018-03-29        Today
38823  2018-03-29        Today
38878  2018-03-29        Today
38933  2018-03-29        Today
38987  2018-03-29        Today
39042  2018-03-29        Today
39091  2018-03-29        Today
39092  2018-03-29        Today
39121  2018-03-29  Just posted
39122  2018-03-29        Today
39123  2018-03-29        Today
39124  2018-03-29        Today
39125  2018-03-29        Today
39126  2018-03-29        Today
39127  2018-03-29        Today
39128  2018-03-29        Today
39129  2018-03-29        Today
39130  2018-03-29        Today
39131  2018-03-29        Today
39427  2018-03-29        Today

                                            posted_links  \
36956  https://www.indeed.com/company/NRJ/jobs/Jasper...
36957  https://www.indeed.com/company/NRJ/jobs/Data-E...
36958  https://www.indeed.com/rc/clk?jk=97ac38a605c9a...
37055  https://ca.indeed.com/rc/clk?jk=2b9e3d068fb25c...
37105  https://www.indeed.com/rc/clk?jk=f5b07384aa132...
37106  https://www.indeed.com/rc/clk?jk=bff6a19fe78e3...
37107  https://www.indeed.com/rc/clk?jk=d36a7b38a322c...
37108  https://www.indeed.com/rc/clk?jk=97ac38a605c9a...
37109  https://www.indeed.com/rc/clk?jk=70d11b97048b3...
37110  https://www.indeed.com/rc/clk?jk=c06275bce69b5...
37112  https://www.indeed.com/company/THEMESOFT/jobs/...
37113  https://www.indeed.com/company/tek--analytics/...
37115  https://www.indeed.com/rc/clk?jk=87ac3509ff5c4...
37844  https://www.indeed.co.uk/rc/clk?jk=118114367a1...
37999  https://ca.indeed.com/rc/clk?jk=ab7f494e02fc71...
38001  https://ca.indeed.com/rc/clk?jk=d2f424ad3143bf...
38002  https://ca.indeed.com/rc/clk?jk=851d941d9644fe...
38003  https://ca.indeed.com/rc/clk?jk=e633e082a7fa42...
38004  https://ca.indeed.com/company/S.i-Systems/jobs...
38005  https://ca.indeed.com/rc/clk?jk=542a3cc8574bb8...
38006  https://ca.indeed.com/company/Alliance-Search-...
38106  https://www.indeed.com/rc/clk?jk=f73284a7c8b8c...
38107  https://www.indeed.com/rc/clk?jk=152af1349f483...
38108  https://www.indeed.com/rc/clk?jk=59b7ba0d4d815...
38109  https://www.indeed.com/rc/clk?jk=7fe3253ccae9b...
38110  https://www.indeed.com/rc/clk?jk=15d96a22841b4...
38111  https://www.indeed.com/rc/clk?jk=004035c9a40c4...
38112  https://www.indeed.com/rc/clk?jk=bd8fc88b0c5cb...
38113  https://www.indeed.com/rc/clk?jk=7a0e6aef7618c...
38114  https://www.indeed.com/rc/clk?jk=c79767e6207a5...
...                                                  ...
38159  https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...
38216  https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...
38271  https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...
38326  https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...
38383  https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...
38436  https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...
38546  https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...
38603  https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...
38657  https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...
38711  https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...
38767  https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...
38823  https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...
38878  https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...
38933  https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...
38987  https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...
39042  https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...
39091  https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...
39092  https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...
39121  https://www.indeed.co.uk/company/Newburgh-Prec...
39122  https://www.indeed.co.uk/rc/clk?jk=c86fe9ff811...
39123  https://www.indeed.co.uk/rc/clk?jk=b4a904f646a...
39124  https://www.indeed.co.uk/rc/clk?jk=a82e5db2da9...
39125  https://www.indeed.co.uk/rc/clk?jk=b86bef4e216...
39126  https://www.indeed.co.uk/rc/clk?jk=3ca866a22eb...
39127  https://www.indeed.co.uk/rc/clk?jk=1e6f67e60f5...
39128  https://www.indeed.co.uk/rc/clk?jk=c9211d9a71c...
39129  https://www.indeed.co.uk/rc/clk?jk=16bb1193f48...
39130  https://www.indeed.co.uk/rc/clk?jk=da7052ccbda...
39131  https://www.indeed.co.uk/rc/clk?jk=ae212feae00...
39427  https://ie.indeed.com/rc/clk?jk=449535794bbffb...

                                             designation  \
36956                               Jaspersoft Developer
36957                                      Data Engineer
36958                                       ETL Engineer
37055    Architecte de solutions, Analytique et Big Data
37105                        Sr. Cloud Software Engineer
37106                                SAP BODS Consultant
37107               Data Management/Analytics consultant
37108                                       ETL Engineer
37109                           Data & Analysis Engineer
37110  Business Intelligence Big Data Engineer (Mobil...
37112                        Talend Admin in Chicago, IL
37113                                 Big Data Architect
37115                               ETL-Talend Developer
37844                        IT Technical Project leader
37999  Marketing Reporting and Measurement Data Produ...
38001                           Sales Operations Manager
38002       Microsoft Dynamics CRM Analyst (Toronto, ON)
38003                          Data Reporting Specialist
38004                  Jr. Business Intelligence Analyst
38005  Jr. Business Intelligence Analyst to create ma...
38006                              Senior Java Developer
38106                                 Operations Manager
38107                                    Jr. GIS Analyst
38108                        Solutions Architect – Azure
38109                                  Software Engineer
38110                               EDW Business Analyst
38111        Finance and Operations Reporting Specialist
38112                           Senior Software Engineer
38113                      Senior R&D Solution Architect
38114                  Software Engineering Lead/Manager
...                                                  ...
38159                          Oracle Database Developer
38216                          Oracle Database Developer
38271                          Oracle Database Developer
38326                          Oracle Database Developer
38383                          Oracle Database Developer
38436                          Oracle Database Developer
38546                          Oracle Database Developer
38603                          Oracle Database Developer
38657                          Oracle Database Developer
38711                          Oracle Database Developer
38767                          Oracle Database Developer
38823                          Oracle Database Developer
38878                          Oracle Database Developer
38933                          Oracle Database Developer
38987                          Oracle Database Developer
39042                          Oracle Database Developer
39091                          Oracle Database Developer
39092                          Oracle Database Developer
39121                                         IT Manager
39122  Power BI Developer - London - 24 Months - 500 ...
39123  Senior BI Developer (SSIS, SSAS, SSRS, Power B...
39124                     Analyst, Business Intelligence
39125                        Public sector BI consultant
39126  Business Information Analyst Full time 37 hour...
39127                              Graduate Data Analyst
39128                     Senior Digital Insight Analyst
39129                                       Data Analyst
39130  Business Intelligence Development Manager - MI...
39131                          Graduate IT Administrator
39427                              Systems Administrator

                                            company_name  \
36956                                        NRJ Systems
36957                                        NRJ Systems
36958                                        ExpertVoice
37055                                           Deloitte
37105                          Summit Technologies, Inc.
37106                           TechSpace Solutions Inc.
37107                                     Tech Axis, Inc
37108                                        ExpertVoice
37109                                        AstraZeneca
37110                         DoubleDown Interactive LLC
37112                                      Themesoft INC
37113                                      Tek Analytics
37115                            CIGNEX Datamatics, Inc.
37844                                       PARAKRAM LTD
37999                                      Precision ERP
38001                                          Miovision
38002                                      New Signature
38003                                        LeverageTek
38004                                        S.i Systems
38005                                         SI Systems
38006                      Alliance Search Partners Inc.
38106  Afognak Native Corporation, Alutiiq LLC, and t...
38107                               Mosaic North America
38108                                  Posh Technologies
38109                                          Microsoft
38110                           U.S. Anesthesia Partners
38111                                          Protiviti
38112                                          Microsoft
38113                                          Microsoft
38114                               Aurum Data Solutions
...                                                  ...
38159                       Diversified Technology, Inc.
38216                       Diversified Technology, Inc.
38271                       Diversified Technology, Inc.
38326                       Diversified Technology, Inc.
38383                       Diversified Technology, Inc.
38436                       Diversified Technology, Inc.
38546                       Diversified Technology, Inc.
38603                       Diversified Technology, Inc.
38657                       Diversified Technology, Inc.
38711                       Diversified Technology, Inc.
38767                       Diversified Technology, Inc.
38823                       Diversified Technology, Inc.
38878                       Diversified Technology, Inc.
38933                       Diversified Technology, Inc.
38987                       Diversified Technology, Inc.
39042                       Diversified Technology, Inc.
39091                       Diversified Technology, Inc.
39092                       Diversified Technology, Inc.
39121                             Newburgh Precision Ltd
39122                                      People Source
39123                               Ampersand Consulting
39124                                      ECM Selection
39125                  Nigel Frank International Limited
39126                             New College Nottingham
39127                                            apetito
39128                                             OLIVER
39129                                         Venn Group
39130                                    Michael Page UK
39131                        Graduate Recruitment Bureau
39427                                  Sherry FitzGerald

                                              companyurl  \
36956                                               NULL
36957                                               NULL
36958                                               NULL
37055                 https://ca.indeed.com/cmp/Deloitte
37105     https://www.indeed.com/cmp/Summit-Technologies
37106                                               NULL
37107                                               NULL
37108                                               NULL
37109             https://www.indeed.com/cmp/Astrazeneca
37110                                               NULL
37112               https://www.indeed.com/cmp/Themesoft
37113                                               NULL
37115                                               NULL
37844                                               NULL
37999                                               NULL
38001                                               NULL
38002            https://ca.indeed.com/cmp/New-Signature
38003              https://ca.indeed.com/cmp/Leveragetek
38004              https://ca.indeed.com/cmp/S.i-Systems
38005               https://ca.indeed.com/cmp/Si-Systems
38006                                               NULL
38106  https://www.indeed.com/cmp/Afognak-Native-Corp...
38107    https://www.indeed.com/cmp/Mosaic-North-America
38108       https://www.indeed.com/cmp/Posh-Technologies
38109               https://www.indeed.com/cmp/Microsoft
38110  https://www.indeed.com/cmp/US-Anesthesia-Partners
38111               https://www.indeed.com/cmp/Protiviti
38112               https://www.indeed.com/cmp/Microsoft
38113               https://www.indeed.com/cmp/Microsoft
38114                                               NULL
...                                                  ...
38159                                               NULL
38216                                               NULL
38271                                               NULL
38326                                               NULL
38383                                               NULL
38436                                               NULL
38546                                               NULL
38603                                               NULL
38657                                               NULL
38711                                               NULL
38767                                               NULL
38823                                               NULL
38878                                               NULL
38933                                               NULL
38987                                               NULL
39042                                               NULL
39091                                               NULL
39092                                               NULL
39121                                               NULL
39122  https://www.indeed.co.uk/cmp/People-Source-Sta...
39123                                               NULL
39124                                               NULL
39125  https://www.indeed.co.uk/cmp/Nigel-Frank-Inter...
39126  https://www.indeed.co.uk/cmp/New-College-Notti...
39127               https://www.indeed.co.uk/cmp/Apetito
39128                https://www.indeed.co.uk/cmp/Oliver
39129            https://www.indeed.co.uk/cmp/Venn-Group
39130       https://www.indeed.co.uk/cmp/Michael-Page-Uk
39131  https://www.indeed.co.uk/cmp/Graduate-Recruitm...
39427                                               NULL

                                           location locationurl         Job
36956                               [Columbus,, OH]        None  jaspersoft
36957                               [Columbus,, OH]        None  jaspersoft
36958                       [Salt, Lake, City,, UT]        None  jaspersoft
37055                               [Montréal,, QC]        None      Talend
37105                             [Farmington,, CT]        None      Talend
37106      [Raleigh,, NC, 27604, (Northeast, area)]        None      Talend
37107                          [Edison,, NJ, 08817]        None      Talend
37108                       [Salt, Lake, City,, UT]        None      Talend
37109                              [Cambridge,, MD]        None      Talend
37110                                [Seattle,, WA]        None      Talend
37112                                [Chicago,, IL]        None      Talend
37113                                  [Omaha,, NE]        None      Talend
37115  [Jersey, City,, NJ, 07302, (Downtown, area)]        None      Talend
37844                                   [Brentwood]        None      Talend
37999                                 [Ottawa,, ON]        None     PowerBI
38001                              [Kitchener,, ON]        None     PowerBI
38002                                [Toronto,, ON]        None     PowerBI
38003                                 [Ottawa,, ON]        None     PowerBI
38004                                 [Ottawa,, ON]        None     PowerBI
38005                                 [Ottawa,, ON]        None     PowerBI
38006                                [Toronto,, ON]        None     PowerBI
38106                             [Huntsville,, AL]        None     PowerBI
38107                          [Irving,, TX, 75039]        None     PowerBI
38108                                [Redmond,, WA]        None     PowerBI
38109                               [Bellevue,, WA]        None     PowerBI
38110      [Dallas,, TX, 75240, (Far, North, area)]        None     PowerBI
38111                                [Chicago,, IL]        None     PowerBI
38112                               [Bellevue,, WA]        None     PowerBI
38113        [Washington,, DC, 20001, (Shaw, area)]        None     PowerBI
38114         [Portland,, OR, 97218, (Cully, area)]        None     PowerBI
...                                             ...         ...         ...
38159                                 [Dayton,, OH]        None     PowerBI
38216                                 [Dayton,, OH]        None     PowerBI
38271                                 [Dayton,, OH]        None     PowerBI
38326                                 [Dayton,, OH]        None     PowerBI
38383                                 [Dayton,, OH]        None     PowerBI
38436                                 [Dayton,, OH]        None     PowerBI
38546                                 [Dayton,, OH]        None     PowerBI
38603                                 [Dayton,, OH]        None     PowerBI
38657                                 [Dayton,, OH]        None     PowerBI
38711                                 [Dayton,, OH]        None     PowerBI
38767                                 [Dayton,, OH]        None     PowerBI
38823                                 [Dayton,, OH]        None     PowerBI
38878                                 [Dayton,, OH]        None     PowerBI
38933                                 [Dayton,, OH]        None     PowerBI
38987                                 [Dayton,, OH]        None     PowerBI
39042                                 [Dayton,, OH]        None     PowerBI
39091                                 [Dayton,, OH]        None     PowerBI
39092                                 [Dayton,, OH]        None     PowerBI

In [ ]:
neg=pd.read_csv("C:/Users/brai/Documents/PythonLead/Neglected.csv")
neg2=pd.read_csv()

In [5]:
negC=pd.read_csv("C:/Users/brai/Documents/PythonLead/neglectedCompany.csv")

In [16]:
for i in negC:
    print(neg.loc[neg.company_name==i,'company_name'])
    if i =='Strategic Marketing':
        print("Ture")

Series([], Name: company_name, dtype: object)